@import "tailwindcss";

/* ===========================
   Design System
=========================== */

:root {
  --color-primary: #0b3d2e;
  --color-secondary: #146c43;
  --color-gold: #d4af37;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text: #1e293b;
  --color-muted: #64748b;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::selection {
  background: var(--color-primary);
  color: white;
}